<div class="container1" fxFlex="grow" fxLayout="column" fxLayoutGap="20px" fxLayout.xs="column" fxFill>
    <div fxFlex="10" fxLayout="row" fxLayoutAlign="center center" class="term">Privacy Policy</div>
    <div fxFlex="3" fxLayout="row" class="privacy">
        <div fxFlex="10"></div>
        This Privacy Policy applies to the Allmvr.com
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="7" fxFlex.sm="13" fxFlex.md="9" fxLayout="row" class="term1">
        <div fxFlex="10"></div>
        Allmvr.com recognizes the importance of maintaining your privacy.
        We value your privacy and appreciate your trust in us. This Policy describes
        how we treat user information we collect on http://www.allmvr.com and other offline sources.
        This Privacy Policy applies to current and former visitors to our website and to our
        online customers. By visiting and/or using our website, you agree to this Privacy Policy.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="4" fxFlex="8" fxLayout="row" class="term1">
        <div fxFlex="10"></div>
        Allmvr.com is a property of Allmvr Projects Private Limited, an Indian Company registered
        under the Companies Act, 2013 having its registered office at Plot-No:85, Sai krishna township,
        Kesarapalli, Vijayawada, Andhra Pradesh-523226.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="3" fxLayout="row" class="privacy">
        <div fxFlex="10"></div>
        Information we collect
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="1" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
       Contact information:
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="5" fxLayout="row">
        <div fxFlex="10"></div>
        We might collect your name,
        email, mobile number, phone number, street, city, state, pin code, country, location address
        and ip address
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="1" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
     Payment and billing information:
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="5" fxFlex.sm="10" fxFlex.md="7" fxLayout="row">
        <div fxFlex="10"></div>
        We might collect your billing name, billing address and
        payment method when you buy a ticket. We NEVER collect your credit card number or credit
        card expiry date or other details pertaining to your credit card on our website.
        Credit card information will be obtained and processed by our online payment partner.
        and ip address
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="1" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
 Information you post: 
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="5" fxLayout="row">
        <div fxFlex="10"></div>
        We collect information you post in a public space on our website,
        Mobile Application or on a third-party social media site belonging to Allmvr.com.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="1" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
    Demographic information:
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="5" fxFlex.md="7" fxFlex.sm="7" fxLayout="row">
        <div fxFlex="10"></div>
        We may collect demographic information about you, products and stores you like,
        products you intend to purchase, Favorite products you use daily, or any other
        information provided by your during the use of our website. We might collect this
        as a part of a survey also.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="1" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
        Other information:
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="7" fxFlex.sm="12" fxFlex.md="9" fxLayout="row">
        <div fxFlex="10"></div>
        If you use our website, we may collect information about your IP,Location
        address and the browser you're using. We might look at what site you came from,
        duration of time spent on our website, pages accessed or what site you visit
        when you leave us. We might also collect the type of mobile device you are
        using, or the version of the operating system your computer or device is
        running.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="3" fxLayout="row" class="privacy">
        <div fxFlex="10"></div>
        We collect information in different ways.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="2" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
       We collect information directly from you:
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="7" fxLayout="row">
        <div fxFlex="10"></div>
        We collect information directly from you when you register your account or buy products.
        We also collect information if you post a comment on our websites or ask us a question through phone,
        SMS or email.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="2" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
        We collect information from you passively:
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="7" fxLayout="row">
        <div fxFlex="10"></div>
        We use tracking tools like Google Analytics, Google Webmaster, browser
        cookies and web beacons for collecting information about your usage of our website.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="2" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
 We get information about you from third parties:
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="7" fxLayout="row">
        <div fxFlex="10"></div>
        For example, if you use an integrated social media feature on our websites.
        The third-party social media site will give us certain information about you. This could
        include your name and email address.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="3" fxLayout="row" class="privacy">
        <div fxFlex="10"></div>
        Use of your personal information
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="2" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
We use information to contact you:
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="7" fxLayout="row">
        <div fxFlex="10"></div>
        We might use the information you provide to contact you for confirmation of a
        purchase on our website or Mobile applications for other promotional purposes.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="2" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
        We use information to respond to your requests or questions
    </div>
    <div fxFlex="7" fxLayout="row">
        <div fxFlex="10"></div>
        We might use your information to confirm your registration for an Account or to place orders.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="2" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
        We use information to improve our products and services
    </div>
    <div fxFlex="7" fxLayout="row">
        <div fxFlex="10"></div>
        We might use your information to customize your experience with us.
        This could include displaying content based upon your preferences.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="2" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
        We use information to look at site trends and customer interests
    </div>
    <div fxFlex="7" fxLayout="row">
        <div fxFlex="10"></div>
        We may use your information to make our website and products better.
        We may combine information we get from you with information about you we get from third parties.
        <div fxFlex="11"></div>

    </div>
    <div fxFlex="2" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
        We use information for security purposes
    </div>
    <div fxFlex="7" fxLayout="row">
        <div fxFlex="10"></div>
        We may use information to protect our company, our customers, or our websites.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="2" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
        We use information for marketing purposes
    </div>
    <div fxFlex="7" fxFlex.sm="12" fxLayout="row">
        <div fxFlex="10"></div>
        We might send you information about special promotions or offers. We might also tell you about
        new features or products. These might be our own offers or products, or third-party offers or
        products we think you might find interesting. Or, for example, if you buy anything from us we'll
        enroll you in our newsletter.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="2" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
        We use information to send you transactional communications
    </div>
    <div fxFlex="7" fxLayout="row">
        <div fxFlex="10"></div>
        We might send you emails or SMS about your account or order.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="2" fxLayout="row">
        <div fxFlex="10"></div>
        We use information as otherwise permitted by law.
    </div>
    <div fxFlex="4" fxLayout="row" class="privacy">
        <div fxFlex="10"></div>
        Sharing of information with third-parties
    </div>
    <div fxFlex="2" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
        We will share information with third parties who perform services on our behalf
    </div>
    <div fxFlex="7" fxLayout="row">
        <div fxFlex="10"></div>
        We share information with vendors who help us manage our online registration process or payment processors or
        transactional message processors. Some vendors may be located outside of India.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="2" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
        We will share information with the store authorizers
    </div>
    <div fxFlex="7" fxLayout="row">
        <div fxFlex="10"></div>
        We share your information with store authorizers and other parties responsible for fulfilling the purchase
        obligation. The store authorizers
        and other parties may use the information we give them as described in their privacy policies.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="2" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
        We will share information with our business partners
    </div>
    <div fxFlex="7" fxLayout="row">
        <div fxFlex="10"></div>
        This includes a third party who provide or sponsor an event, or who operates a venue where we hold events.
        Our partners use the information we give them as described in their privacy policies.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="2" fxFlex.sm="5" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
        We may share information if we think we have to in order to comply with the law or to protect ourselves.
    </div>
    <div fxFlex="7" fxLayout="row">
        <div fxFlex="10"></div>
        We will share information to respond to a court order or subpoena. We may also share it if a government agency
        or investigatory body requests.
        Or, we might also share information when we are investigating potential fraud.
        <div fxFlex="11"></div>
    </div>

    <div fxFlex="2" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
        We may share your information for reasons not described in this policy
    </div>
    <div fxFlex="7" fxLayout="row">
        <div fxFlex="10"></div>
        We will tell you before we do this.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="4" fxLayout="row" class="privacy">
        <div fxFlex="10"></div>
        Email Opt-Out
    </div>

    <div fxFlex="2" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
        You can opt out of receiving our marketing emails
    </div>
    <div fxFlex="7" fxLayout="row">
        <div fxFlex="10"></div>
        To stop receiving our promotional emails, please email unsubscriber@allmvr.com.
        It may take about ten days to process your request. Even if you opt out of getting
        marketing messages, we will still be sending you transactional messages through email
        and SMS about your purchases.

        <div fxFlex="11"></div>
    </div>
    <div fxFlex="2" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
        Third party sites
    </div>
    <div fxFlex="7" fxLayout="row">
        <div fxFlex="10"></div>
        If you click on one of the links to third party websites, you may be taken to websites we do not control. This
        policy does not apply to the privacy practices of those websites.
        Read the privacy policy of other websites carefully. We are not responsible for these third-party sites.
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="2" fxLayout="row" class="term2">
        <div fxFlex="10"></div>
        Grievance Officer
    </div>
    <div fxFlex="7" fxLayout="row">
        <div fxFlex="10"></div>
        In accordance with Information Technology Act 2000 and rules made there under,
        the name and contact details of the Grievance Officer are provided below:
        <div fxFlex="11"></div>
    </div>
    <div fxFlex="55" fxLayout="row">
        <div fxFlex="10"></div>
        Mr. Venkateswar<br /><br />
        Plot-85, Sai krishna township, Kesarapalli<br /><br />
        Vijayawada, Krishna District, AP- 110020<br /><br />
        Phone: +91-8676- 253466<br /><br />
        Email: contact@allmvr.com<br /><br />
        If you have any questions about this Policy or other privacy concerns, you can also email us at
        webmaster@allmvr.com
    </div>
    <div fxFlex="2" fxLayout="row" class="term2">
            <div fxFlex="10"></div>
            Updates to this policy
        </div>
        <div fxFlex="7" fxLayout="row">
            <div fxFlex="10"></div>
            This Privacy Policy was last updated on 08.08.2019. From time to time we may change our privacy practices. We will notify you of any material changes to this policy as 
            required by law. We will also post an updated copy on our website. Please check our site periodically for updates.
            <div fxFlex="11"></div>
        </div>
        <div fxFlex="2" fxLayout="row" class="term2">
                <div fxFlex="10"></div>
                Jurisdiction
            </div>
            <div fxFlex="7" fxLayout="row">
                <div fxFlex="10"></div>
                If you choose to visit the website, your visit and any dispute over privacy is 
                subject to this Policy and the website's terms of use. In addition to the foregoing, 
                any disputes arising under this Policy shall be governed by the laws of India. 
                <div fxFlex="11"></div>
            </div>
</div>