.homeAlign{
    background-repeat:no-repeat;
    background-size: cover;
}
.body {
    margin-top: -1%;
    height: 615px;
    background-image: url('../../assets/wel.jpg');
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    }

.home1Align{
    font-size:50px;
    font-weight: 500;
}
.home2Align{
    font-size:25px;
}
.home3Align{
    font-size:37px;
}
.home4Align{
    font-size:17px;
}
// .home5Align{
//     width: 130px !important;
//     height: 46px;
// }
.home6Align{
    color:#ff8c00;
}

.home7Align {
    margin-right: 20%;
    margin-top: -13%;
}
.home8Align{
    margin-top:-24%;
}
.home9Align{
    margin-top:-18%;
}
.home10Align{
    font-size: 35px;
    margin-left: 24%;
    margin-top: 3.5%;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}
.home11Align{
    width: 155px;
    height: 183px;
    margin-top: -8.5%;
    padding-left: 2%;
    margin-left: 80%;
}
.home12Align{
    width: 172px;
    height: 188px;
    margin-top: -16%;
    margin-left: 79%;
}
.home13Align{
    width: 195px;
    height: 186px;
    margin-top: -11.5%;
    padding-left: 10%;
}
.Align5{
    width: 155px;
    height: 183px;
    margin-top: -8.5%;
    padding-left: 2%;
    margin-left:0;  
}
.Align6{
    font-size: 24px;
    margin-left: 0;
    margin-top: 3.5%;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.container1 {
	min-height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
  }


// .forAlign{
//     margin-left: 18%;
//     margin-right:18%;
// }
.forAlign{
    background-color: #4169e0; 
    color: white;
    font-weight: 500;
    font-size: 24px;
}
.align1{
    margin-top:8%;
    color: tomato;
    font-weight: 800;
    font-size: 29px
}
.container2 {
    box-shadow: -5px 5px 5px -5px #333;
    min-height: auto;
    background-color: #fff;
    font-weight: 500;
    color: black;
    margin-top: -3.5%;
    font-family: "Roboto", sans-serif;
    margin-bottom: 4%;
    overflow-x: hidden;
  }
  .container5 {
    box-shadow: -5px 5px 5px -5px #333;
    min-height: auto;
    background-color: #fff;
    font-weight: 500;
    color: black;
    margin-top: -9.5%;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0%;
    overflow-x: hidden;
  }
  .container3{
    margin-right: 0%;
    margin-left:2%;
    background-color: white;
    font-weight: 500;
    color:black;
    margin-top: 0.5%;
    font-family: "Roboto", sans-serif;

  }
  .container4{
    box-shadow: -5px 5px 5px -5px #333;
    min-height: auto;
    background-color: #fff;
    overflow-x: hidden;
    font-weight: 500;
    color: black;
    margin-top: -7.5%;
    font-family: "Roboto", sans-serif;
    margin-bottom: 5%;
   
  }
.for1Align{
    font-size: 20px;
    background-color: #4169e0;
    color: #fff;
    padding-left: 6%;
    font-weight: 500;
    font-family: -webkit-pictograph;
}
.align21{
    margin-left: 6%;
    font-size:23px;
    color: #4169e0;
    font-weight: 500;   
  }
::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0em;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0em 0 1em 0;
}
::ng-deep .mat-form-field-label-wrapper {
    top: -1.44375em;
    padding-top: .84375em;
}
// .for2Align{
//     border-right: 1px solid lightgray;
// }
.for3Align{
    width: 116px;
    font-size: 20px;
    height: 40px;
    margin-bottom: 3%;
}
.for4Align{
    margin-left: 4px;
    margin-right: 4px;
}
.Align{
    margin-top: 2%;
    margin-left: 12%;

}
.Align1{
    margin-top: 2%;
    margin-left: 8%;
    font-size: 18px;
    font-weight: 400;
}
.Align2{
    width:53%;
}
.Align3{
    margin-top: 1%;
    margin-left: 3%;
}
.Align4{
    margin-top: 2%;
    margin-left: 3%;
}
.Align7{
    margin-top: 0%;
    margin-left: 3%;
}
.align{
    margin-top: 2%;
    font-size: 18px;
    font-weight: 400;   
}
.Align8{
    font-size: 30px;
    margin-left: 24%;
    margin-top: 3.5%;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}
.Align9{
        font-size: 25px;
        margin-left: 24%;
        margin-top: 3.5%;
        font-weight: 500;
        font-family: "Roboto", sans-serif;
}
.imgAlign1{
    width: 248px;
    height: 252px;
    margin-top: 19%;
    margin-bottom: 19%;
}
.img1Align2{
    color: black;
    font-weight: 500;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    margin-left: 2%;
}
.img2Align2{
    color: black;
    font-weight: 500;
    font-size:24px;
    font-family: "Roboto", sans-serif;
    margin-left:2%;
}

.img3Align2{
    color: black;
    font-weight: 500;
    font-size:24px;
    font-family: "Roboto", sans-serif;
    margin-left:2%;
}
.img1Align3{
    font-size:16px;
    color: #848484;
    font-weight: 400;  
    text-align: justify;
    padding-left: 16%;
    padding-right: 18%;
    font-family: "Roboto", sans-serif;
    margin-left: 0%;
    margin-right: 4%;
}

.img2Align3{
    font-size:16px;
    color: #848484;;
    font-weight: 400;  
    text-align: justify;
    padding-left: 14%;
    padding-right: 14%;
    font-family: "Roboto", sans-serif;
    margin-left: 0%;
    margin-right: 4%;
}
.img3Align3{
    font-size:16px;
    color: #848484;
    font-weight: 400;  
    text-align: justify;
    padding-left: 18%;
    padding-right: 18%;
    font-family: "Roboto", sans-serif;
    margin-left: 4%;
    margin-right: 4%;
}
.imgAlign4{
    border-right-style: dashed;
    border-right-color: lightgray;
}
.imgAlign5{
    border-right: none;
}
.lAlign {
    margin-top: 3%;
    font-weight: 500;  
    margin-bottom: 1%;
}
.fa {
    padding: 9px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .imAlign{
    min-width: -webkit-fill-available;
    height:700px;
  }
  .align2{
      font-size:18px;
  }
  .align3{
      margin-top:2%;
      margin-bottom:2%;
  }
  .align4{
    width: 121px;
    height: 169px;
    padding-top: 5%;
    padding-bottom: 2%;
  }
  .align5{
    border-bottom: 1px solid lightgray;
    margin-left: 5%;
    margin-right: 5%;
  }
  .align6{
      margin-left:22%;
      font-size: 42px;
      font-family: "Roboto", sans-serif;
  }
  .align7{
      margin-left: 16%;
      margin-right: 46%;
        font-size: 24px;
      text-align: justify;
      font-family: "Roboto", sans-serif;
  }
  .align8{
    background-color: whitesmoke;
  }
  .align9{
      margin-right:5%;
      margin-left: 5%;
  }
  .align10{
    height: 532px;
    margin-top: 6%;
    width: 612px;
  }
  .align11{
      background-color: white;
      font-weight: 600;  
      margin-top: 3%;
      color: black;
  }
  .align12{
    background-color: #4169e0;
  }
  .align13{
    font-size: 38px;
    margin-left: 24%;
    margin-top:10%;
    font-weight: 500;
  }
.align14{
    font-size: 23px;
    font-weight: 400;
    margin-left: 24%;
}
.align15{
    font-size: 40px;
    color:#4169e0;
}
.align16{
    background-color: lightcoral;
    color: white;
    width: 199px;
    font-size: 19px;
    height: 55px;
}
.responsive {
	width: 95%;
	height: 350px;
  }
  .align17{
    font-size: 28px;
    margin-left: 12%;
    font-weight: 500;
  }
  .align19{
    font-size: 28px;
    margin-left: 0%;
    // margin-top:10%;
    font-weight: 500;
  }
  .align18{
    font-size: 23px;
    font-weight: 400;
    margin-left: 7%;
  }
  .align20{
      margin-bottom:7%;
  }
  .align22{
    font-size: 16px;
    color: #848484;
    text-align: justify; 
    padding-left: 4%;
    padding-right: 7%;
    font-family: "Roboto", sans-serif;
     margin-left: 0; 
     margin-right: 0; 
}
.align23{
    font-weight: 500;
    font-size:20px;
    font-family: "Roboto", sans-serif;
    margin-left:2%;   
}
.align24{
    font-size: 38px;
    margin-left: 30%;
    margin-top:3%;
    font-weight: 500;
}
.align25{
    font-size: 23px;
    font-weight: 400;
    margin-left: 30%;
}
.align26{
    width: 248px;
    height: 252px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.align27{
    margin-bottom:-1.5%;
}
.align28{
    width:500px;
    margin-top: -7%;
    height:500px;
}
.body1{
    width:300px;
    height:300px;
    }
    .body2{
        width:400px;
        height:400px;
    }
    .align29{
        margin-bottom: 1%;
    }
 ::ng-deep .mat-dialog-container {
     padding: 0 !important;
    }
    .link{
        cursor: pointer;
        color: #337ab7;
        text-decoration: none;
    }
    .link:hover{
        text-decoration: underline;
    }
    .Align10{
        width:75%;
    }
    .formMargin{
        margin-top:-5%;
    }
.align30{
    font-size: 16px;
    color: #848484;
    text-align: justify; 
    padding-left: 5%;
    padding-right: 7%;
    font-family: "Roboto", sans-serif;
     margin-left: 0; 
     margin-right: 0; 
}
.align31{
    font-size: 16px;
    color: #848484;
    text-align: justify; 
    padding-left: 6%;
    padding-right: 1.5%;
    font-family: "Roboto", sans-serif;
     margin-left: 0; 
     margin-right: 0; 
}